/* -----------------------------------------------------------------------
타이포그래피 설정
----------------------------------------------------------------------- */

/* @font-face -> 웹폰트 사용을 위한 지시어(directive) */
/* html 파일과 같은 폴더에 들어있는 폰트 파일을 사용하는 경우 */

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}


/* -----------------------------------------------------------------------
초기화 및 기본값 설정
----------------------------------------------------------------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
        overflow-y: 100%;    
    background-color: #000;
    color: white;
    font-family: 'Paperlogy-8ExtraBold'
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: linear-gradient(to right, #517dba, #cdb4db, #864fb6);
  }
  
  .header-left h1 {
    font-size: 30px;
    font-weight: normal;
  }
  
  .header-left span {
    font-family: 'Paperlogy-8ExtraBold', cursive;
    font-size: 26px;
    font-weight: bold;
    color: rgb(36, 0, 127);
  }
  
  .header-right .menu-icon {
    font-size: 26px;
    cursor: pointer;
  }
  
  main {
    padding: 50px;
    display: flex;
    justify-content: center;
  }
  
  .content-box {
    margin-bottom: 40px;
    margin-right: 200px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    flex-wrap: nowrap;
  }
  
  .image-box img {
    margin-left: 40px;
    height: 300px;
    margin-top: 25%;
    width: 130%;
    max-width: 300%;
    height: auto;
    border: 5px solid #2c2c2c;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
  .text-red {
    margin-left: 150%;
  width: 100%;
  }
  .text-green {
    margin-left: 150%;
    width: 100%;
    }
    .text-blue {
      margin-left: 150%;
      width: 200%;
      }
      .text-black {
        margin-left: 150%;
        width: 120%;
        }
           
  .text-box {
   margin-bottom: 235%;
    margin-left: 90px;
    width: 90%;
    padding: 20px;
    border: 1px solid white;
    line-height: 1.8;
    font-size: 20px;
  }
  


/* -----------------------------------------------------------------------
footer 영역 - 저작권 정보
----------------------------------------------------------------------- */

.footer {
    padding-bottom: 20px;
    padding-top: 60px;
    text-align: center;
    font-size: 16px;
}